@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --main-orange:hsl(26, 100%, 55%);
  --main-pale-orange:hsl(25, 100%, 94%);
  --main-light-greyish-blue:hsl(223, 64%, 98%);
  --main-greyish-blue:hsl(220, 14%, 75%);
  --main-dark-greyish-blue:hsl(219, 9%, 45%);
  --main-black: hsl(0, 0%, 0%,0.75)
}

.App {
  font-family: 'Kumbh Sans', sans-serif;
}
hr{
  height: 1px;
  margin: 0px 150px 0 150px;
  background-color: var(--main-greyish-blue);
  border: none;
}
.menu-mobile{
  display: none;
}
.navbar{
  display: flex;
  padding: 0px 150px 0px 150px; 
  height: 90px;
}
.nav-left{
  display: flex;
  align-items: center;
} 
.nav-right{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}
.nav-options{
  display: flex;
  padding:0 20px 0 20px;
}
.nav-option{
  min-height: 30px;
  padding:0 15px 0 15px;
  font-size: 13px;
}
.nav-option:hover{
  border-bottom: 2px solid var(--main-orange);
}
.icon:hover{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid var(--main-orange);
}
.shopping-cart{
  padding: 0 30px 0 10px;
}
.product-images{
  padding: 100px 140px 180px 180px;
}
.product-images img{
 border-radius: 10px;
}
.img-thumbnails{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.product-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-info{
padding: 0px 100px 40px 0px;
}
.brand{
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: var(--main-orange);
  margin: auto;
}
.model{
  font-weight: 700;
  font-size: 35px;
  padding-top: 10px;
}
.copy {
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  line-height: 1.5rem;
  color: var(--main-dark-greyish-blue);
}
.price_discount{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
}
.price{
  font-weight: bold;
  font-size: 25px;
}
.discount{
  padding: 3px 7px 3px 7px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--main-pale-orange);
  color: var(--main-orange);
  border-radius: 5px;
  align-self: center;
}
.original-price{
  padding: 10px 0 20px 0;
  font-size: 15px;
  text-decoration: line-through;
  color: var(--main-greyish-blue);
  font-weight: bold;
}
.add-subtract{
  display: flex;
  align-items: center;
  background-color: var(--main-light-greyish-blue);
  border-radius: 10px;
  margin-right: 20px;
}
.add-subtract svg{
  padding: 0px 10px 0px 10px;
}
.add-subtract .counter{
  padding: 15px 30px 15px 30px;
}
.add-to-cart{
  display: flex;
  align-content: center;
}
.add-to-cart button{
  padding: 0px 70px 0px 70px;
  border-radius: 10px;
  border: 0px;
  color: white;
  background-color: var(--main-orange);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  
}
.add-to-cart .btn .svg{
   padding-right: 20px;
}
.btn{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.btn svg{
fill: white;
}
.btn-text{
  white-space: nowrap;
}
.add-to-cart button:hover{
  background-color: var(--main-pale-orange);
  box-shadow: 15px 45px 40px var(--main-pale-orange);
  border: 1px var(--main-pale-orange);
}
.add-subtract svg:hover{color:var(--main-pale-orange)}
footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px; 
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.modal{
  background-color: var(--main-black);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  
}
.modal-gallery img{
  border-radius: 10px;
}
.close-btn {
  display: flex;
  position: fixed;
  z-index: 2;
  transform: translateY(-100px);
  transform: translateX(300px);
}

.selector-btn{
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.next-btn{
  display: flex;
  align-items: center;
  transform: translateX(20px);
}
.previous-btn{
  display: flex;
  align-items: center;
  transform: translateX(470px);
}
.next-btn.selector-btn svg{
  display: inline-block;
  transform: translateY(40%);
  transform: translateX(15px);
}
.previous-btn.selector-btn svg{
  display: inline-block;
  transform: translateY(5px);
  transform: translateX(20px);
}
@media (max-width:800px) {
  .product-page{
    flex-direction: column;
  }
  .product-info{
    padding-left: 80px;
  }
  .nav-options{
  flex-direction: column;
  }
}